

.inner1{
    display: flex;
    justify-content: space-between;
    height: 350px;
    .col-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 360px;
    }
}
.sc-visual{
    position: relative;
    width: 770px;
    background: #ccc;
    .content{
        position: absolute;
        top: 0;right: 0;
        width: 690px;
        height: 100%;
        &.citizen{
            .title{
                top: 50%;
                a::before{
                    background-position: -50px 0;
                }
            }
        }
        &.active{
            z-index: 5;
            .title{
                background: #0158a8;
                color: #fff;
                
            }
        }
    }
    .title{
        position: absolute;
        background: #d2e1e9;
        width: 80px;
        height: 50%;
        z-index: 2;
        transform: translateX(-100%);
        a{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            &::before{
                @extend .sp1;
                width: 50px;
                height: 50px;
                content: '';
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }
    .swiper{
        .desc{
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            padding-right: 122px;
            background-color: rgba(0, 0, 0, .7);
            color: #fff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .control-area{
        display: flex;
        align-items: center;
        height: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        .btns{
            display: flex;
            align-items: center;
            &::before{
                width: 1px;
                height: 24px;
                background:rgba(255, 255, 255, .5);             
                content: '';
                margin: 0 10px;
            }
            button{
                @extend .sp2;
                width: 18px;
                height: 18px;
            }
        }
        .btn-all{
            background: #000;
            color: #fff;
            font-size: 13px;
            height: 33px;
            display: flex;
            gap: 5px;
            align-items: center;
            padding: 9px 8px;
            &::before{
                @extend .sp-btn;
                width: 12px;
                height: 12px;
                background-position: 0 0;
                content: '';
                display: flex;
            }
        }
        .btn-prev{background-position: -241px -285px ;}
        .btn-autoplay{background-position: -285px -285px;
            &.active{
                background-position: -269px -285px;
            }
        }
        .btn-next{background-position: -256px -285px;}
    }
    .fraction{
        font-size: 13px;
        color: #fff;
        width: auto;
    }
}


.pop-visual{
    position: fixed;
    display: none;
    top: 0;left: 0;
    right: 0;bottom: 0;
    background:rgba(0, 0, 0, .7);
    z-index: 10;
    overflow-y: auto;
    &.show{
        display: block;
    }
    .content{
        max-width: 1152px;
        margin: 0 auto;
    }
    .title{
        width: 1152px;
        height: 132px;
        padding: 70px 0 20px;
        display: flex;
        justify-content: center;
    }
    .pop-news,
    .pop-civil{
        background: url(../images/pop-bg.png) no-repeat;
        background-position: 50% 0;
        margin-bottom: 20px;
    }
    .news-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 10px;
    }
    .civil-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 10px;
    }
    .btn-close{
        position: absolute;
        top: 55px;
        left: 50%;
        margin-left: 526px;
        background: #3d72fc;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .btn-close::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 24px;
        height: 4px;
        background: #fff;
        border-radius: 3px;
    }
    .btn-close::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 24px;
        height: 4px;
        background: #fff;
        border-radius: 3px;
    }
}



.sc-admin-news{height: 190px;}
.sc-mayor{
    height: 90px;
    position: relative;
    margin-top: 15px;
    .link-want{
        position: absolute;
        top:14px;
        right: 10px;
    }
    .link-list{
        display: flex;
        gap: 1px;
        position: absolute;
        bottom: 0;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 89px;
            background-color: #8b7153;
            height: 26px;
        }
    }
}
.ad-channel{
    height: 50px;
    width: 360px;
    height: 50px;
    margin-top: 10px;
     background: #eed925;
    a{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        }
    }



.sc-service{
    margin-top: 50px;
    position: relative;
    .group-header{
        display: flex;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbdbdb;
        h2{
            font-weight: 700;
            font-size: 24px;
            line-height: 1.35em;
            font-style: normal;
        }
    }
    .link-all{
        position: absolute;
        top: 0;
        left: 140px;
        width: 112px;
        height: 29px;
        border: 1px solid #ddd;
        display: block;
        font-size: 15px;
        padding: 0 13px;
        line-height: 28px;
        background: url(../images/nurijib.png) no-repeat right 13px top 50%;
    }
    .list{
        display: flex;
        justify-content: space-between;
        a{
            [class*="ico"]{
                content: '';
                display: block;
                width: 60px;
                height: 60px;
                margin: 0 auto 10px;
                background-image: url(../images/spbg-service.png);
                background-repeat: no-repeat;
            }
            .ico-reserve{background-position: -360px 0;}
            .ico-complain{background-position: 0 0;}
            .ico-job{background-position: -120px 0;}
            .ico-estate{background-position: -300px 0;}
            .ico-run{background-position: -180px 0;}
            .ico-welfare{background-position: -960px 0;}
            .ico-house{background-position: -780px 0;}
            .ico-info{background-position: -1140px 0;}
            .ico-myseoul{background-position: -1020px 0;}
            .ico-imagine{background-position: -60px 0;}
            .ico-learning{background-position: -1200px 0;}
            .ico-council{background-position: -600px 0;}
            .name{
                font-size: 14px;
                font-weight: 400;
                line-height: 1.35em;
                color: #222;
            }
        }
    }
}

.sc-direct{
    min-width: 1152px;
    margin-top: 35px;
    background: #eff4f8;
    .list{
        display: flex;
        justify-content: center;
        .item{
            position: relative;
        }
        .item+.item::before{
            content: '';
            position: absolute;
            top: 25px;
            left: 0px;
            width: 1px;
            height: 60px;
            background: #dbdbdb;
            z-index: 1;
        }
        a{
            position: relative;
            margin: 20px 0;
            display: flex;
            flex-direction: column;
        }
    }
}


.inner2{
    display: flex;
    gap: 36px;
    margin: 50px 0;
    [class*=name]{
        white-space: nowrap;
    }
    h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        padding-bottom: 15px;
        border-bottom: 2px solid #dbdbdb;
    }
    .board-list{
        .board-item{
            display: flex;
            gap: 9px;
            padding: 6px 0;
        }
        [class*="cate"]{
            font-size: 15px;
            font-weight: 400;
            line-height: 1.35em;
        }
        .culture{color: #069363;}
        .eco{color: #069363;}
        .welfare{color: #d76000;}
        .admin{color: #028ab6;}
        .en{color: #599100;}
        .home{color: #c35c3c;}
        .link{
            font-size: 15px;
            color: #222;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
        }
    }
    .link-more{
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 22px;
        height: 20px;
        border: 1px solid #ddd;
        background: url(../images/spbg-1.png) no-repeat -1px -1px;
    }
    .sc-board{
        width: 360px;
        position: relative;
    }
    .sc-frequently-service{
            width: 360px;
            .frequently-list{
            display: flex;
            flex-wrap: wrap;
            padding: 17px;
            background: #eff4f8;
            }
            .frequently-item{
                width: 50%;
                padding: 0 0 10px 10px;
            }
            a{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;
                color: #333;
                position: relative;
                padding-left: 10px;
                &::before{
                    content: '';
                    position: absolute;
                    background: #666666;
                    width: 2px;
                    height: 2px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        
    }
}


.sc-info{
    padding: 50px 0 50px;
    border-top: 2px solid #222222;
    h2{
        font-size: 24px;
        font-weight: 700;
    }
    .list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
        a{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            span{
                position: absolute;
                bottom: 30px;
                font-size: 16px;
                color: #222;
            }
        }
        [class*="ico-"]::before{
            content: '';
            display: flex;
            width: 85px;
            height: 145px;
        }
        .ico-home::before{background: url(../images/sc-info1.png) no-repeat;}
        .ico-eco::before{background: url(../images/sc-info2.png) no-repeat;}
        .ico-traffic::before{background: url(../images/sc-info3.png) no-repeat;}
        .ico-enviroment::before{background: url(../images/sc-info4.png) no-repeat;}
        .ico-welfare::before{background: url(../images/sc-info5.png) no-repeat;}
        .ico-safe::before{background: url(../images/sc-info6.png) no-repeat;}
        .ico-culture::before{background: url(../images/sc-info7.png) no-repeat;}
        .ico-admin::before{background: url(../images/sc-info8.png) no-repeat;}
    }
}


.sc-news{
    position: relative;
    h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
        .item{
            height: 271px;
            .thumb{
                overflow: hidden;
            }
            img{
                transition: transform 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
            }
            &:nth-last-child(1){
                img{
                    &:hover{
                        transform: none;
                    }
                }
            }
        }
    }
    .thumb{
        position: relative;
    }
    .cate{
        position: absolute;
        left: 0;bottom: 0;
        width: 82px;
        height: 32px;
        z-index: 1;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &.home{
            background-color: #c35c3c;
        }
        &.welfare{
            background-color: #d76000;
        }
    }
    .desc{
        padding-top: 20px;
        font-size: 16px;
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: clip;
        display:-webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .link-more{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 15px;
        color: #7d7d7d;
        display: inline-block;
        background: url(../images/spbg-1.png) no-repeat 0 -259px;
        width: 75px;

    }
}




.inner3{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #222;
    padding-bottom: 50px;
    h2{
        padding-bottom: 11px;
        font-size: 24px;
        font-weight: 700;
        white-space: nowrap;
    }
    .sc-video{
        .img-area{
            overflow: hidden;
            a{
                display: block;
                min-width: 280px;
                img{
                    transition: transform 0.3s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .sc-issue{
        .list{
            display: flex;
            flex-direction: column;
            gap: 18px;
            width: 480px;
        }
        .item{
            display: flex;
            gap: 20px;
            color: #555;
            font-size: 16px;
        }
        .cate{
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            white-space: nowrap;
            color: #09ac43;
        }
        .title{
            flex: 1;
            gap: 16px;
            margin-top: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #555555;
        }
    }
    .sc-sns{
        position: relative;
        min-width: 350px;
        height: 195px;
        background: url(../images/sc-sns.jpg);
            background-repeat: no-repeat;
            background-position: 0 0;
        .header{
            position: absolute;
            top: 10px;
            left: 15px;
            display: flex;
            width: 100%;
            h2{
                padding: 0;
                margin-top: 5px;
            }
            .btn-more{
                position: absolute;
                right: 15px;
                margin-right: 15px;
                font-size: 15px;
                color: #7d7d7d;
                width: 70px;
                background: url(../images/spbg-1.png) no-repeat -5px -258px;
                top: 5px;
            }
        }
        .list{
            display: flex;
            gap: 4px;
            position: absolute;               
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        [class*="ic-"]{
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background: url(../images/spbg-sns.png) no-repeat;
        }
        .ic-facebook{background-position: -40px 0;}
        .ic-instagram{    background-position: 0 0;}
        .ic-youtube{    background-position: -160px 0;}
        .ic-xcom{    background-position: -80px 0;}
        .ic-naverblog{    background-position: -120px 0;}
        .ic-story{    background-position: -200px 0;}
        .ic-kakao{    background-position: -240px 0;}
    }
}



.sc-bannerslide{
    padding: 50px 0;
    min-width: 1152px;
    .control-area{
        display: flex;
        align-items: center;
        height: 32px;
        margin-top: 5px;
        .btns{
            display: flex;
            align-items: center;
            button{
                @extend .sp2;
                width: 20px;
                height: 20px;
                content: '';
                border: 1px solid #999;
                background-repeat: no-repeat;
            }
        }
        .btn-prev{background-position: -45px -43px ;}
        .btn-autoplay{background-position: -101px -43px;
            &.active{
                background-position: -65px -43px;
            }
        }
        .btn-next{background-position: -86px -43px;}
    }
    .fraction{
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }
}





.sc-relate{
    position: relative;
    min-width: 1152px;
    .relate-list{
        display: flex;
        border: 1px solid #d0d0d0;
    }
    .relate-item{
        flex: 1;
        white-space: nowrap;
        &+.relate-item{
            border-left: 1px solid #d0d0d0;
        }
    }
    .btn-relate{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background: #f7f7f7;
        gap: 10px;
        &.on{
            background: #e2e2e2;
            &::after{
                transform: rotate(45deg);
                margin: 0;
            }
        }
        &::after{
            content: '';
            height: 7px;
            width: 7px;
            border: 1px solid #373737;
            border-width: 0px 2px 2px 0px;
            transform: rotate(-135deg);
            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform-origin: center center;
            margin-top: 5px;
        }
    }
    .link-relate{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background: #f7f7f7;
    }
    .sub{
        display: none;
        position: absolute;
        bottom: 100%;
        left: 0;
        margin-bottom: -1px;
        border: 1px solid #d0d0d0;
        background: #fff;
        width: 100%;
        z-index: 5;
        .sub-list{
            display: flex;
            flex-wrap: wrap;
            padding: 10px 20px 20px;
            color: #555;
            li{
                width: 25%;
                margin-top: 10px;
            }
        }
    }
}  