.sp1{
    background-image:url(../images/spbg-mcontent.png);
    background-repeat: no-repeat;
}
.sp2{
    background-image: url(../images/spbg-1.png);
    background-repeat: no-repeat;
}
.sp-btn{
    background-image: url(../images/sp-btn.png);
    background-repeat: no-repeat;
}